:root{
  --menu-normal-color: #2E2F42;
  --menu-active-color: #404BBF;
  --hero-background-color: #2E2F42;
  --hero-color: #FFFFFF;
  --team-background: #F4F4FD;
  --logo-color: #4d5ae5;
}
body{
    background-color: #FFFFFF;
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.list{
  list-style-type: none;
}
.link{
text-decoration: none;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--logo-color);
   
}
.accent-logo{
    color: var(--menu-normal-color);
}
/*.top-menu{  }  */

.menu-list{
  list-style-type: none;
}

.menu-list .menu-item{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--menu-normal-color);
  text-decoration: none;
 
}

.menu-list .menu-item:focus,
.menu-list .menu-item:hover{
  color: var(--menu-active-color);
  text-decoration: underline;
}
.adress{
  list-style-type: none;
  font-style: normal;
}
.adress .adress-item{
  font-size: 16px;
  line-height: 1.5;
  color: var(--menu-normal-color);
  text-decoration: none;
}

.adress .adress-item:focus,
.adress .adress-item:hover{
  font-size: 16px;
  line-height: 1.5;
  color: var(--menu-active-color);
  text-decoration: underline;
}

.hero{
  background-color: var(--hero-background-color);
  color: var(--hero-color);

}
.hero-title{
  font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
}

.hero-button{
  background: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  cursor: pointer;
}    
   
.hero button:hover,
.hero button:focus{
  background: #404BBF;
}    
.properties{

}
    
.properties h2{
  visibility: hidden;
}   

.topic{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.topic-text{
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
 
}

.doing{

}
.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--menu-normal-color);
}

.team{
  background-color: var(--team-background);
}

footer{
  background-color: var(--hero-background-color);
}

.footer-text{
  font-size: 16px;
  line-height: 1.5;
  color: #F4F4FD;
 
}
.footer-logo{
  font-family: 'Raleway',
      sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #F4F4FD;
  text-decoration: none;
}

.section-button{

}
.button-list{
  list-style: none;
}

.button-list-item {
  background: #F4F4FD;
  font-weight: 500;
  line-height: 1.5;
  color: #4D5AE5;
  cursor: pointer;
}

.button-list-item:focus,
.button-list-item:hover {
  background: #404BBF;
  color: #FFFFFF;
}
.section-project{

}
.project-list{
  list-style: none;
}
.project-h3{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2E2F42;
}
.project-p{
  line-height: 1.5;
  color: #434455;
}
